<div class="body d-flex justify-content-center" style="padding: 30px 0">
    <div class="content" style="padding: 30px 20px ">
      <form>
        <h3>Đăng ký</h3>
        <div class="row pt-3">
          <label>Email</label>
          <div class="col-4">
            <input class="form-control">
          </div>
        </div>
        <div class="row pt-3">
          <label>Mật khẩu</label>
          <div class="col-4">
            <input class="form-control">
          </div>
        </div>
        <div class="row pt-3">
          <label>Xác nhận mật khẩu</label>
          <div class="col-4">
            <input class="form-control">
          </div>
        </div>
        <div class="row pt-3">
          <label>Tên hiển thị</label>
          <div class="col-4">
            <input class="form-control">
          </div>
        </div>
        <div class="row pt-3">
          <label>Sinh nhật</label>
          <div class="col-4">
            <input class="form-control" type="date">
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-4">
            <button class="btn btn-success">Đăng ký</button>
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-12">
            <span>Bạn đã có tài khoản? Hãy </span>
            <button class="btn btn-success">Đăng nhập</button>
            <span> hoặc </span>
            <button class="btn btn-primary">Đăng nhập qua Facebook</button>
          </div>
        </div>
      </form>
    </div>
</div>
