<div class="body d-flex justify-content-center" style="padding: 30px 0">
  <div class="content mb-auto" style="padding: 30px 20px ">
    <table cellpadding="20px" class="table table-secondary table-hover">
      <thead>
      <tr>
        <th>STT</th>
        <th>Người mua</th>
        <th>Ngày mua</th>
        <th>Địa chỉ</th>
        <th>Số điện thoại</th>
        <th colspan="2">Tổng tiền</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of billHistory,index as i">
        <td>{{i + 1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.billDate}}</td>
        <td>{{item.address}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.total | currency:'': 'VND ': '5.0'}}</td>
        <td>
          <button data-bs-toggle="modal" data-bs-target="#listModal" class="btn btn-info" style="margin: 5px" (click)="displayDetail(item)">Chi tiết</button>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Modal: modalCart -->
<div data-bs-backdrop="static" data-bs-keyboard="false" class="modal fade" id="listModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header" style="background-color: #44b89d; height: 50px">
        <span class="modal-title text-light" id="myModalLabel" style="font-size: 18px">Danh sách sách giao dịch</span>
        <button type="button" data-bs-dismiss="modal" class="btn btn-none" aria-label="Close">
          <span aria-hidden="true" style="color: white">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <table class="table table-hover">
          <thead style="font-weight: 300">
          <tr>
            <th>STT</th>
            <th>Tiêu đề</th>
            <th>Giá</th>
            <th>Số lượng</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of billDetail.bookBillList,index as i">
            <th scope="row">{{i + 1}}</th>
            <td>{{item.book.name}}</td>
            <td>{{item.book.price| currency:'':'':'3.0'}}đ</td>
            <td>
              <table>
                <tr>
                  <td>
                    {{item.amount}}
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="3" class="text-end">Tổng tiền:</td>
            <td colspan="2" style="color: #dc3545;font-weight: bold">{{billDetail.total | currency:'':'':'3.0'}}đ</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
