<div class="body d-flex justify-content-center" style="padding: 30px 0">
  <div class="content" style="padding: 30px 20px ">
    <div class="row">
      <div class="col-4" style="padding-left: 30px">
        <img src="http://static.nhanam.com.vn/thumb/0x320/crop/Books/Images/2022/9/20/G485ZEEA.jpg" alt="">
      </div>
      <div class="col-8">
        <div class="row pb-2" style="border-bottom: 4px solid #cacbcc">
          <h5 class="p-0">NGƯỜI BÓNG BAY</h5>
        </div>
        <div class="row pt-2" style="border-bottom: 4px solid #cacbcc">
          <div class="col-6">
            <ul>
              <li style="margin-bottom: 5px">Mã sản phẩm: 980</li>
              <li style="margin-bottom: 5px">Tác giả: Chan Ho-Kei</li>
              <li style="margin-bottom: 5px">Dịch giả: Nguyễn Tú Uyên</li>
              <li style="margin-bottom: 5px">Nhà xuất bản: Hà Nội</li>
              <li style="margin-bottom: 5px">Số trang: 484</li>
              <li style="margin-bottom: 5px">Kích thước: 14x20.5 cm</li>
              <li style="margin-bottom: 5px">Ngày phát hành: 30-09-2022</li>
            </ul>
          </div>
          <div class="col-6">
            <div class="row">
              Giá : 151.200đ
            </div>
            <div class="row mt-4">
              SỐ LƯỢNG
            </div>
            <div class="row mt-2">
              <div class="col-4">
                  <div class="row">
                    <div class="col-5" style="padding: 5px 0">
                      <input type="text" class="input-amount">
                    </div>
                    <div class="col-2 p-0">
                      <div class="row">
                        <button class="btn-none" style="padding: 0;border: none;background: none"><img src="assets/cartup.png"></button>
                      </div>
                      <div class="row">
                        <button class="btn-none" style="padding: 0;border: none;background: none"><img src="assets/cartdown.png"></button>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-8">
                <div class="row d-flex justify-content-center">
                  <div class="col-12">
                    <button class="btn btn-success w-100">Thêm vào giỏ hàng</button>
                  </div>
                </div>
                <div class="row d-flex justify-content-center mt-1">
                  <div class="col-12">
                    <button class="btn btn-success w-100">Mua ngay</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h3 style="padding-top: 20px">Giới thiệu sách</h3>
      </div>
    </div>
    <div class="row">
      Em đã bao giờ bắt gặp cảm giác đó chưa? Cái cảm giác: Ôi! Thật tiếc, chỉ một lần lướt qua nhau rồi mãi mãi cách xa… Anh thì bắt gặp nhiều lắm. Con người này sao mà khiến ta yêu mến quá chừng, cô gái này sao mà xinh đẹp quá chừng, trên đời không thể có kẻ thứ hai hút hồn ta đến vậy, ta tình cờ sượt qua người ấy trên đường, hoặc ngồi gần người ấy trong rạp hát, hoặc cùng bước xuống bậc thang lúc rời khỏi khán phòng sau một buổi hòa nhạc rồi cứ thế cách xa mà chẳng thể bắt gặp lần thứ hai trong đời. Dẫu là như thế, song ta chẳng thể níu chân một kẻ không quen để bắt chuyện. Đời là vậy ư? Những lúc ấy, anh buồn muốn chết, và trở nên như kẻ mất hồn. Muốn bám theo người ấy đến cùng trời mà không được. Bởi nếu muốn bám theo đến cùng trời, thì chỉ còn cách giết chết người ấy mà thôi.”

      “Ánh sáng lập lòe của chiếc lồng đom đóm đung đưa bên hông người thiếu nữ, ngọn lửa từ đám cháy đêm ở bờ bên kia in bóng xuống hồ… Tất cả phản chiếu trong đôi mắt tràn đầy những vọng niệm của Momoi Gimpei, gã đàn ông kỳ quái. Một thế giới truyện ma mị mà rào cảo của hiện thực đã hoàn toàn bị tước bỏ.”

      - Mishima Yukio, tác giả của Kim Các Tự
    </div>
  </div>
</div>
