<div class="row footer">
  <div class="col-3">
    <table>
      <tr style="border-bottom: solid 0.5px black">
        <td style="padding:15px 15px 15px 0 "><img src="assets/footer-icon.png"></td>
        <td>Giới thiệu</td>
      </tr>
      <tr style="border-bottom: solid 1px black">
        <td style="padding:15px 15px 15px 0 "><img src="assets/footer-icon.png"></td>
        <td>Chính sách bảo mật</td>
      </tr>
      <tr style="border-bottom: solid 1px black">
        <td style="padding:15px 15px 15px 0 "><img src="assets/footer-icon.png"></td>
        <td>Chính sách vận chuyển</td>
      </tr>
      <tr style="border-bottom: solid 0.5px black">
        <td style="padding:15px 15px 15px 0 "><img src="assets/footer-icon.png"></td>
        <td>Hình thức thanh toán</td>
      </tr>
    </table>
  </div>
  <div class="col-3">
    <table>
      <tr style="border-bottom: solid 0.5px black">
        <td style="padding:15px 15px 15px 0 "><img src="assets/footer-icon.png"></td>
        <td>Quy định đổi, trả và hủy đơn hàng</td>
      </tr>
      <tr style="border-bottom: solid 1px black">
        <td style="padding:15px 15px 15px 0 "><img src="assets/footer-icon.png"></td>
        <td>Hướng dẫn đặt hàng</td>
      </tr>
      <tr style="border-bottom: solid 1px black">
        <td style="padding:15px 15px 15px 0 "><img src="assets/footer-icon.png"></td>
        <td>Liên hệ</td>
      </tr>
      <tr style="border-bottom: solid 0.5px black">
        <td style="padding:15px 15px 15px 0 "><img src="assets/footer-icon.png"></td>
        <td>Thông báo</td>
      </tr>
    </table>
  </div>
</div>
<div class="row footer-contact">
  <p style="text-align: center">© 2014 - Bản quyền của Công Ty Cổ Phần Văn Hoá và Truyền Thông Nhã Nam - nhanam.com.vn <br>
    Địa chỉ: 59 Đỗ Quang, phường Trung Hoà, quận Cầu Giấy, Hà Nội <br>
    Giấy ĐKKD số 0101603420 do Sở KH&ĐT TP Hà Nội cấp ngày 21 tháng 1 năm 2005 sửa đổi lần 5 ngày 20/3/2013</p>
</div>
