<div class="body d-flex justify-content-center" style="padding: 30px 0">
  <div class="content mb-auto" style="padding: 30px 20px ">
    <table class="table table-info">
      <tr>
        <th width="20%">Tên </th>
        <td>{{user.name}}</td>
      </tr>
      <tr>
        <th>Tên đăng nhập </th>
        <td>{{user.username}}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <th>Ngày sinh</th>
        <td>{{user.birthDay | date:"dd/MM/yyyy"}}</td>
      </tr>
    </table>
  </div>
</div>

